body {
    background-color: crimson;
}
ul {
    list-style-type: square;
}
img.pizza {
    border-radius: 50%
}
hr {
    width: 15%;
    border-style: dotted none none;
    border-width: 0.5rem;
    border-color: blue;
}
